
<button class="add-region" nz-button nzType="primary" (click)="showModal('Add City')">Add City</button>
<nz-table #middleTable nzSize="middle" [nzData]="cities">
  <thead>
    <tr>
      <th>Id</th>
      <th>City Names</th>
      <th>Zone Names</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities">
      <td>{{ city.cityId }}</td>
      <td>{{ city.cityName }}</td>
      <td>{{ city.woreda?.woredaName }}</td>
      <td>
        <a  (click)="editCity(city)">Edit</a> |
        <a  (click)="openDeleteConfirmation(city.cityId)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
