<div style="background-color: white;padding:15px" nzSpan="6">
    <form (ngSubmit)="onSubmit()"  [formGroup]="myForm" >
  
    <h3><b>Victim Detail</b></h3>
   



  <div nz-row style="display: flex;">
   
    <div nz-col  nzSpan="6" ><label>Accused Status</label><br/>
      <nz-radio-group formControlName="accusedStatusControl" [(ngModel)]="accusedStatus">
        <label nz-radio nzValue=0>Cause</label>
        <label nz-radio nzValue=1>Participant</label>
      </nz-radio-group>
    </div>
  

 
  
  <div nz-col  nzSpan="6" ><label>Name of Driver</label><br/>
    <input nz-input placeholder="Name of Driver" formControlName="diverNameControl" [(ngModel)]="driverName" />
  </div>
      
 

  <div nz-col  nzSpan="6" ><label>Gender</label><br/>
    <nz-select formControlName="genderControl"
    [(ngModel)]="selectedGender"    >
    <ng-container >
      <nz-option
      [nzLabel]="'Male'"
      [nzValue]="0"
      ></nz-option>

      <nz-option
      [nzLabel]="'Female'"
      [nzValue]="1"
      ></nz-option>
     
    </ng-container>
  
  
    </nz-select>
   </div>



   <div nz-col  nzSpan="6" ><label>Education Level</label><br/>
    <nz-select formControlName="educationLevelControl"
    [(ngModel)]="selectedEducationLevel">
    <ng-container  *ngFor="let option of educationLevel">
      <nz-option
      [nzLabel]="option.educationLevelName"
      [nzValue]="option"
      ></nz-option>
    </ng-container>
  
  
    </nz-select>
   </div>

  </div>
  

  <div nz-row style="display: flex; height: 20px;" ></div>

  <div nz-row style="display: flex;" >
   
    <div nz-col  nzSpan="6" ><label>Driving Licence Available?</label><br/>
      <nz-radio-group formControlName="driverLicenceAvailableControl" 
      [(ngModel)]="drivingLicenceStat" (ngModelChange)="OnDriverLicenceStatChanged()">
        <label nz-radio nzValue=0 selected="selected">No</label>
        <label nz-radio nzValue=1>Yes</label>
      </nz-radio-group>
    </div>
  

  
  <div nz-col  nzSpan="6" *ngIf="drivingLicenceStat==1" ><label>Licence Number</label><br/>
    <input nz-input placeholder="Licence Number" formControlName="licenceNumberControl" [(ngModel)]="licenceNumber"  />
  </div>
      


   <div nz-col  nzSpan="6" *ngIf="drivingLicenceStat==1"><label>Level of Licence</label><br/>
    <nz-select formControlName="levelOfLicenceControl"
    [(ngModel)]="selectedLevelOfLicence">
    <ng-container  *ngFor="let option of levelOfLicence">
      <nz-option
      [nzLabel]="option.LeveloflicenceName"
      [nzValue]="option"
      ></nz-option>
    </ng-container>
  
  
    </nz-select>
   </div>

   <div nz-col  nzSpan="6" *ngIf="drivingLicenceStat==1"><label>Driving Licence Category</label><br/>
    <nz-select formControlName="drivingLicenceCategoryControl"
    [(ngModel)]="selectedDrivingLicenceCategory">
    <ng-container  *ngFor="let option of drivingLicenceCategories">
      <nz-option
      [nzLabel]="option.drivingLicenceCatagoryName"
      [nzValue]="option"
      ></nz-option>
    </ng-container>
  
  
    </nz-select>
   </div>


  </div>
  



  <div nz-row style="display: flex; height: 20px;" ></div>

  <div nz-row style="display: flex;" >
   
    <div nz-col  nzSpan="6" ><label>Third Party Insurance Available?</label><br/>
      <nz-radio-group formControlName="thirdPartyInsuranceControl" 
      [(ngModel)]="thirdPartyInsurance">
        <label nz-radio nzValue=0>No</label>
        <label nz-radio nzValue=1>Yes</label>
      </nz-radio-group>
    </div>
  

    <div nz-col  nzSpan="6" ><label>Alchcol used?</label><br/>
      <nz-radio-group formControlName="alcholUsedControl" 
      [(ngModel)]="alcholUsed" (ngModelChange)="OnAlcholUsedStatChanged()">
        <label nz-radio nzValue=0 selected="selected">No</label>
        <label nz-radio nzValue=1>Yes</label>
      </nz-radio-group>
    </div>
  

    <div nz-col  nzSpan="6" *ngIf="alcholUsed==1"><label>Alchcol Tested?</label><br/>
      <nz-radio-group formControlName="alcholTestedControl" 
      [(ngModel)]="alcholTested" (ngModelChange)="OnAlcholTestedStatChanged()">
        <label nz-radio nzValue=0 selected="selected">No</label>
        <label nz-radio nzValue=1>Yes</label>
      </nz-radio-group>
    </div>

  
  <div nz-col  nzSpan="6" *ngIf="alcholUsed==1 && alcholTested==1" ><label>Alchol Level</label><br/>
    <input nz-input placeholder="Alchol Level" formControlName="alcholLevelControl" [(ngModel)]="alcholLevel"  />
  </div>
      
  </div>




  <div nz-row style="display: flex; height: 20px;" ></div>

  <div nz-row style="display: flex;" >
   
    
    <div nz-col  nzSpan="6"><label>Speed Limit Exceeded?</label><br/>
      <nz-radio-group formControlName="speedLimitExceededControl" 
      [(ngModel)]="speedLimitExceeded" (ngModelChange)="OnspeedLimitExceededStatChanged()">
        <label nz-radio nzValue=0 selected="selected">No</label>
        <label nz-radio nzValue=1>Yes</label>
      </nz-radio-group>
    </div>

  
  <div nz-col  nzSpan="6" *ngIf="speedLimitExceeded==1" ><label>Speed Level</label><br/>
    <input nz-input placeholder="Speed Level" formControlName="speedLevelControl" [(ngModel)]="speedLevel"  />
  </div>
      
  </div>
  


  
 
  
  <div nz-row style="display: flex;justify-content: space-between;">
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6"> </div>
    <div nz-col nzSpan="6"> </div>
    <div nz-col nzSpan="6"  style="display: flex;">
      <app-button (click)="AccidentPage()" [buttonText]="'Back'" style="padding-right:15px;"></app-button>
    <app-button (click)="VictimDetailPage()" [buttonText]="'Next'" type="submit" ></app-button>
    </div>
  </div>
  <!-- (click)="sucessNotification('Sucess')" -->
  </form>
  
  </div>
  