<div style="background-color: white;padding:15px" nzSpan="6">
    <form (ngSubmit)="onSubmit()"  [formGroup]="myForm" >

    <h3><b>Victim Detail</b></h3>




  <div nz-row style="display: flex;">


    <div nz-col  nzSpan="6" ><label>Victim Type</label><br/>
      <nz-select style="width:150px" formControlName="victimTypeId"
      [(ngModel)]="selectedVictimType">
      <ng-container  *ngFor="let option of victimTypes">
        <nz-option
        [nzLabel]="option.victimType"
        [nzValue]="option.victimTypeId"
        ></nz-option>
      </ng-container>


      </nz-select>
     </div>



  <div nz-col  nzSpan="6" ><label>Victim Name</label><br/>
    <input nz-input placeholder="Victim Name" formControlName="victimName" [(ngModel)]="victimName" />
  </div>


  <div nz-col  nzSpan="6" ><label>Age</label><br/>
    <input nz-input placeholder="Age" formControlName="age" [(ngModel)]="age" />
  </div>

  <div nz-col  nzSpan="6" ><label>Gender</label><br/>
    <nz-select formControlName="genderType"
    [(ngModel)]="selectedGender"    >
    <ng-container >
      <nz-option
      [nzLabel]="'Male'"
      [nzValue]="0"
      ></nz-option>

      <nz-option
      [nzLabel]="'Female'"
      [nzValue]="1"
      ></nz-option>

    </ng-container>


    </nz-select>
   </div>

 </div>


 <!-- [nzLabel]="option.vehicleInvolvedName"
 [nzValue]="option.vehicleInvolvedId" -->

  <div nz-row style="display: flex; height: 20px;" ></div>


  <div nz-row style="display: flex;">


    <!-- <div nz-col  nzSpan="6" ><label>Choose Vehicle</label><br/>
      <nz-select formControlName="vehicleControl"
      [(ngModel)]="selectedVehicle">
      <ng-container  *ngFor="let option of vehicle">
        <nz-option
        [nzLabel]="option.vehicleName"
        [nzValue]="option.vehicleId"

        ></nz-option>
      </ng-container>


      </nz-select>
     </div> -->



    <div nz-col nzSpan="6" ><label>Victim Employment Status</label><br/>
      <nz-select style="width:150px" formControlName="employmentStatusId"
      [(ngModel)]="selectedEmploymentStatus">
      <ng-container  *ngFor="let option of employmentStatus">
        <nz-option
        [nzLabel]="option.employmentStatusName"
        [nzValue]="option.employmentStatusId"
        ></nz-option>
      </ng-container>


      </nz-select>
     </div>




    <!-- <div nz-col  nzSpan="6" ><label>Accident Severity</label><br/>
      <nz-select formControlName="accidentSeverityControl"
      [(ngModel)]="selectedAccidentSeverity">
      <ng-container  *ngFor="let option of accidentSeverity">
        <nz-option
        [nzLabel]="option.severityType"
        [nzValue]="option"
        ></nz-option>
      </ng-container>


      </nz-select>
     </div> -->




    <div nz-col  nzSpan="6" ><label>Health Condition</label><br/>
      <nz-select style="width:150px" formControlName="healthConditionId"
      [(ngModel)]="selectedHealthCondition">
      <ng-container  *ngFor="let option of healthConditions">
        <nz-option
        [nzLabel]="option.healthConditionName"
        [nzValue]="option.healthConditionId"
        ></nz-option>
      </ng-container>


      </nz-select>
     </div>

     <div nz-col nzSpan="6" >Accident Serverity<label></label><br/>
      <nz-select style="width:150px" [(ngModel)]="severityId" formControlName="severityId">
        <nz-option       *ngFor="let option of accidentSeverity$ | async"
        [nzLabel]="option.severityType"
        [nzValue]="option.severityId"
        ></nz-option>
      </nz-select>
    </div>

 </div>





 <div nz-row style="display: flex; height: 20px;" ></div>


 <div nz-row style="display: flex;">

  <div nz-col nzSpan="6"><label>AirBag Deployed?</label><br/>
    <nz-radio-group formControlName="airbagDeployed"
    [(ngModel)]="airbag">
      <label nz-radio nzValue=0>No</label>
      <label nz-radio nzValue=1>Yes</label>
    </nz-radio-group>
  </div>


  <div nz-col nzSpan="6"><label>SeatBelt used?</label><br/>
    <nz-radio-group formControlName="seatBeltUsed"
    [(ngModel)]="seatbelt">
      <label nz-radio nzValue=0>No</label>
      <label nz-radio nzValue=1>Yes</label>
    </nz-radio-group>
  </div>

  <div nz-col nzSpan="6"><label>Heilmet used?</label><br/>
    <nz-radio-group formControlName="helmetUsed"
    [(ngModel)]="heilmet">
      <label nz-radio nzValue=0>No</label>
      <label nz-radio nzValue=1>Yes</label>
    </nz-radio-group>
  </div>

 </div>






  <div nz-row style="display: flex; height: 20px;" ></div>




  <div nz-row style="display: flex;">

   <div nz-col  nzSpan="6" ><label>Victim Movement</label><br/>
     <nz-select style="width:150px" formControlName="victimMovementId"
     [(ngModel)]="selectedVictimMovement">
     <ng-container  *ngFor="let option of victimMovement">
       <nz-option
       [nzLabel]="option.victimMovementType"
       [nzValue]="option.victimMovementId"
       ></nz-option>
     </ng-container>


     </nz-select>
    </div>



   <div nz-col  nzSpan="6" ><label>Seating Type</label><br/>
     <nz-select style="width:150px" formControlName="seatingTypeId"
     [(ngModel)]="selectedSeatingType">
     <ng-container  *ngFor="let option of seatingType">
       <nz-option
       [nzLabel]="option.seatingTypeName"
       [nzValue]="option.seatingTypeId"
       ></nz-option>
     </ng-container>


     </nz-select>
    </div>




   <div nz-col  nzSpan="6" ><label>Pedestrian Movement</label><br/>
     <nz-select style="width:150px" formControlName="pedestrianMovementId"
     [(ngModel)]="selectedPedestrianMovement">
     <ng-container  *ngFor="let option of pedestrianMovement">
       <nz-option
       [nzLabel]="option.pedestrianMovementName"
       [nzValue]="option.pedestrianMovementId"
       ></nz-option>
     </ng-container>


     </nz-select>
    </div>


</div>





  <div nz-row style="display: flex;justify-content: space-between;">
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6"> </div>
    <div nz-col nzSpan="6"> </div>
    <div nz-col nzSpan="6"  style="display: flex;">
      <app-button (click)="AccidentPage()" [buttonText]="'Back'" style="padding-right:15px;"></app-button>
    <app-button (click)="VictimDetailPage()" [buttonText]="'Next'" type="submit" ></app-button>
    </div>
  </div>
  <!-- (click)="sucessNotification('Sucess')" -->
  </form>

  </div>
