<!-- <div nz-row nzGutter="16" style="display:flex;">
  <div nz-col nzSpan="8" style="color:black;border-radius: 10px;text-align: center;width:14vw;background-color: #ffffff;">
     <p>Vechile</p>

</div>
  <div nz-col nzSpan="8" style="color:black;width:14vw;background-color: #bc3333;border-radius: 10px;" >
    <p style="text-align: center;">Driver</p>

    </div>
  <div nz-col nzSpan="8" style="color:black;border-radius: 10px;width:14vw;background-color: #ff9900;">
      <p style="text-align: center" >Road</p>

  </div>

</div>





<div nz-row nzGutter="16" style="display:flex;padding-top:20px">
  <div nz-col nzSpan="8" style="color:black;border-radius: 10px;text-align: center;width:14vw;background-color: #ffffff;">
     <p>Weather</p>

</div>
  <div nz-col nzSpan="8" style="color:black;width:14vw;background-color: #bc3333;border-radius: 10px;" >
    <p style="text-align: center;">Victim</p>

    </div>
  <div nz-col nzSpan="8" style="color:black;border-radius: 10px;width:14vw;background-color: #ff9900;">
      <p style="text-align: center" >Traffice</p>

  </div>

</div>





<div nz-row nzGutter="16" style="display:flex;padding-top:20px">
  <div nz-col nzSpan="8" style="color:black;border-radius: 10px;text-align: center;width:14vw;background-color: #ffffff;">
     <p>Driver</p>

</div>
  <div nz-col nzSpan="8" style="color:black;width:14vw;background-color: #bc3333;border-radius: 10px;" >
    <p style="text-align: center;">Road</p>

    </div>
  <div nz-col nzSpan="8" style="color:black;border-radius: 10px;width:14vw;background-color: #ff9900;">
      <p style="text-align: center" >Advanced search</p>

  </div>

</div> -->
<div style="width:100%;">
  <img style="width:100%;height:450px" src="assets/Images/search.png">
</div>
