
<button class="add-region" nz-button nzType="primary" (click)="showModal('Add Weather')">Add Weather</button>
<nz-table #middleTable nzSize="middle" [nzData]="weathers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Weather Condition Names</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weather of weathers">
      <td>{{ weather.weatherCondId }}</td>
      <td>{{ weather.weatherCondName }}</td>
      <td>

        <button class="edit-button" (click)="onEditRow(weather)">
          <i class="icon-edit"></i>
          Edit
        </button>
        
        <span class="button-spacing"></span> <!-- Add a span element for spacing -->
        <!-- <a  (click)="editRegion(region.regionId)">Edit</a> | -->
        <a  class="delete" (click)="openDeleteConfirmation(weather.weatherCondId)">
          <i nz-icon nzType="delete" class="delete-icon"></i>
          <span class="delete-text">Delete</span></a>
      </td>
    </tr>
  </tbody>

</nz-table>
