<!-- <div nz-col   ><label>Date</label><br/>
  <nz-date-picker formControlName="dateAndTime" [(ngModel)]="dateAndTime"  nzShowTime></nz-date-picker>
</div> -->
  <!-- <div class="datepicker"style="display: initial !important;">
    <nz-date-picker
      [(ngModel)]="startDate"
      nzShowTime
      nzFormat="yyyy-MM-dd HH:mm:ss"
      nzPlaceHolder="Start"
    ></nz-date-picker>
    <nz-date-picker
      #endDatePicker
      [(ngModel)]="endDate"
      nzShowTime
      nzFormat="yyyy-MM-dd HH:mm:ss"
      nzPlaceHolder="End"
    ></nz-date-picker>
    <button nz-button (click)="onFilterClick()">
      Search
    </button>
  </div> -->
 <div nz-row style="justify-content: space-around;display:flex;">

          <div style="color:white;border-radius: 10px;text-align: center;width:14vw;background-color: #ffffff;color: #bc3333">
             <p>{{ getTranslation('Total accident') }}</p>
            <p style="color: #bc3333;font-size: 24px;"><b>{{totalAccidentCount}}</b></p>
        </div>
          <div style="color:white;width:14vw;background-color: #bc3333;border-radius: 10px;" >
            <p style="color:ffffff;padding-left: 15px;">{{ getTranslation('Fatal') }}</p>

            <div class="text-container" >
              <span class="left-text">{{ getTranslation('Injury') }}</span>
             <span class="right-text">{{ getSeverityByType(2).count }}</span>
            </div>

            <p style="color:ffffff;padding-left: 15px;">{{ getTranslation('Crash') }}</p>
            </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #ff9900;">
              <p style="text-align: center" >{{ getTranslation('Serious') }}</p>
              <div class="text-container" >
                <span class="left-text">{{ getTranslation('Injury') }}</span>
               <span class="right-text">{{ getSeverityByType(3).count }}</span>
              </div>


              <p style="color:ffffff;padding-left: 15px;">{{ getTranslation('Crash') }}</p>
          </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #1eaab2;">
             <p style="text-align: center;" >{{ getTranslation('Slight') }}</p>
             <div class="text-container" >
              <span class="left-text">{{ getTranslation('Injury') }}</span>
             <span class="right-text">{{ getSeverityByType(4).count }}</span>
            </div>
            <p style="color:ffffff;padding-left: 15px;">{{ getTranslation('Crash') }}</p>
          </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #4caef4;">

            <div class="text-container" >
              <span class="left-text">{{ getTranslation('Property Damage') }}</span>
             <span class="right-text">{{ totalPropertyDamage }}</span>

            </div>
            <div class="text-container" >
            <span class="left-text">{{ getTranslation('Accident Cost') }}</span>
            <span class="right-text">{{ totalPropertyDamage }}</span>
            </div>
            <div class="text-container" >

              <span class="left-text">{{ getTranslation('Accident Prone Section') }}</span>
              <span class="right-text">{{ totalBlackspotCount }}</span>
              </div>
          </div>

        </div>
        <div nz-row style="display:flex;justify-content:space-around;padding-top: 15px;">
          <div nz-col nzSpan="18">
            <div style="display:flex;color:white;width:14vw;background-color: white;width: 100%;padding: 15px;">
             <div>
              <p style="text-align: center;color:black" ><b>{{ getTranslation('Region Wise Accident Summary') }}</b></p>
              <div  ><label style="color:black">{{ getTranslation('Please select region') }}</label><br/>
                <nz-select
                [(ngModel)]="regionIdd"
                (ngModelChange)="getRegionBasedSummaryData($event)"
                 >
                  <nz-option       *ngFor="let option of regionMasters"
                  [nzLabel]="option.regionName"
                  [nzValue]="option.regionId"
                  ></nz-option>

                </nz-select>
               </div>
               <div class="text-container" style="padding-top:15px;" >
              </div>
               <div class="text-container" >
                <span class="left-text" style="color:red;">{{ getTranslation('Fatal Injury') }}</span>
               <span class="right-text" style="color:red;">{{ (regionService.deathCount$ | async) || 0 }}
                <br/>
              </span>
              </div>
              <div class="text-container" >
                <span class="left-text" style="color:red;">{{ getTranslation('Fatal Crush') }}</span>
               <span class="right-text" style="color:red;">{{ (regionService.deathCount$ | async) || 0 }}
                <br/>
              </span>
              </div>

              <div class="text-container" style="padding-top:15px;" >
              </div>
              <div class="text-container" >
                <span class="left-text" style="color:#ff9900;">{{ getTranslation('Seriously Injury') }}</span>
               <span class="right-text" style="color:#ff9900;">{{ (regionService.seriousCount$ | async) || 0 }}
                <br/>
              </span>
              </div>
              <div class="text-container" >
                <span class="left-text" style="color:#ff9900;">{{ getTranslation('Seriously Crash') }}</span>
               <span class="right-text" style="color:#ff9900;">{{ (regionService.seriousCount$ | async) || 0 }}
                <br/>
              </span>
              </div>
              <div class="text-container" style="padding-top:15px;" >
              </div>

              <div class="text-container" >
                <span class="left-text" style="color:#1eaab2;">{{ getTranslation('Slightly Injury') }}</span>
               <span class="right-text" style="color:#1eaab2;">{{ (regionService.slightCount$ | async) || 0 }}
              </span>
              </div>
              <div class="text-container" >
                <span class="left-text" style="color:#1eaab2;">{{ getTranslation('Slightly Crash') }}</span>
               <span class="right-text" style="color:#1eaab2;">{{ (regionService.seriousCount$ | async) || 0 }}
                <br/>
              </span>
              </div>

              <div class="text-container" style="padding-top:15px;" >
              </div>

              <div class="text-container" >
                <span class="left-text" style="color:#4caef4;">{{ getTranslation('Accident Cost') }}</span>
               <span class="right-text" style="color:#4caef4;">{{ (regionService.seriousCount$ | async) || 0 }}
                <br/>
              </span>
              </div>



              <p style="color:black;padding-left: 15px; color: #4caef4;">{{ getTranslation('Accident Prone Section') }} </p>
            </div>

             <div style="padding-left:15px;">

             </div>
             <div id="mapid" style="width:50vw">
            </div>

            <div style="background-color: white;padding:15px;" nzSpan="6">
              <!-- <div>
                <canvas id="canvas" width="400" height="200"></canvas>
              </div> -->
              <div>
                <canvas id="trendChart" width="300" height="300"></canvas>
              </div>

              <div style="padding-top:10px; margin-left: 9.5vw;">
              <app-button  [buttonText]="'Advanced Search'" (click)="AdvancedSearchPage()"></app-button>
            </div>

        </div>
           </div>

          </div>

      </div>
