  <div nz-row style="justify-content: space-around;display:flex;">
          <div style="color:white;border-radius: 10px;text-align: center;width:14vw;background-color: #ffffff;color: #bc3333">
             <p>Total accident</p>
            <p style="color: #bc3333;font-size: 24px;"><b>{{totalAccidentCount}}</b></p>
        </div>
          <div style="color:white;width:14vw;background-color: #bc3333;border-radius: 10px;" >
            <p style="color:ffffff;padding-left: 15px;">Fatal</p>

            <div class="text-container" >
              <span class="left-text">Injury</span>
             <span class="right-text">{{ getSeverityByType(2).count }}</span>
            </div>

            <p style="color:ffffff;padding-left: 15px;">Crash</p>
            </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #ff9900;">
              <p style="text-align: center" >Serious</p>
              <div class="text-container" >
                <span class="left-text">Injury</span>
               <span class="right-text">{{ getSeverityByType(3).count }}</span>
              </div>


              <p style="color:ffffff;padding-left: 15px;">Crash</p>
          </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #1eaab2;">
             <p style="text-align: center;" >Slight</p>
             <div class="text-container" >
              <span class="left-text">Injury</span>
             <span class="right-text">{{ getSeverityByType(4).count }}</span>
            </div>
            <p style="color:ffffff;padding-left: 15px;">Crash</p>
          </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #4caef4;">
            <p style="color:ffffff;padding-left: 15px;">Property Datamage<br/>Accident Cost<br/>Accident Prone Section</p>
          </div>

        </div>
        <div nz-row style="display:flex;justify-content:space-around;padding-top: 15px;">
          <div nz-col nzSpan="18">
            <div style="display:flex;color:white;width:14vw;background-color: white;width: auto;padding: 15px;">
             <div>              <p style="text-align: center;color:black" ><b>Region Wise Accident Summary</b></p>
              <p style="color:black;padding-left: 15px;">Addis Ababa</p>
              <p style="color:black;padding-left: 15px; color: #bc3333;">Fatal Injury<br>Fatal Crash</p>
              <p style="color:black;padding-left: 15px; color: #ff9900;">Seriously Injury Injury<br>Seriously Crash</p>
              <p style="color:black;padding-left: 15px; color: #1eaab2;">Slightly Injury<br>Slightly Crash</p>
              <p style="color:black;padding-left: 15px; color: #4caef4;">Accident Cost <br>Accident Prone Section </p></div>

             <div style="padding-left:15px;">
              <div id="mapp">
                <img src="assets/Images/map.png">
              </div>
             </div>
           </div>

          </div>
          <div style="background-color: white;padding:15px;width: 25%;" nzSpan="6"><h3><b>Trend Analysis</b></h3>
            <div id="chart">
              <!-- <div class="card-deck">
                <div *ngFor="let item of data" class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.severityType }}</h5>
                    <p class="card-text">Count: {{ item.count }}</p>
                  </div>
                </div>
              </div> -->


            </div>
              <div style="padding-top:30px; margin-left: 9.5vw;">
              <app-button  [buttonText]="'Advanced Search'" (click)="AdvancedSearchPage()"></app-button>
            </div>
          </div>
        </div>
