<!-- <div nz-col   ><label>Date</label><br/>
  <nz-date-picker formControlName="dateAndTime" [(ngModel)]="dateAndTime"  nzShowTime></nz-date-picker>
</div> -->
 <div nz-row style="justify-content: space-around;display:flex;">

          <div style="color:white;border-radius: 10px;text-align: center;width:14vw;background-color: #ffffff;color: #bc3333">
             <p>Total accident</p>
            <p style="color: #bc3333;font-size: 24px;"><b>{{totalAccidentCount}}</b></p>
        </div>
          <div style="color:white;width:14vw;background-color: #bc3333;border-radius: 10px;" >
            <p style="color:ffffff;padding-left: 15px;">Fatal</p>

            <div class="text-container" >
              <span class="left-text">Injury</span>
             <span class="right-text">{{ getSeverityByType(2).count }}</span>
            </div>

            <p style="color:ffffff;padding-left: 15px;">Crash</p>
            </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #ff9900;">
              <p style="text-align: center" >Serious</p>
              <div class="text-container" >
                <span class="left-text">Injury</span>
               <span class="right-text">{{ getSeverityByType(3).count }}</span>
              </div>


              <p style="color:ffffff;padding-left: 15px;">Crash</p>
          </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #1eaab2;">
             <p style="text-align: center;" >Slight</p>
             <div class="text-container" >
              <span class="left-text">Injury</span>
             <span class="right-text">{{ getSeverityByType(4).count }}</span>
            </div>
            <p style="color:ffffff;padding-left: 15px;">Crash</p>
          </div>
          <div style="color:white;border-radius: 10px;width:14vw;background-color: #4caef4;">

            <div class="text-container" >
              <span class="left-text">Property Datamage</span>
             <span class="right-text">{{ totalPropertyDamage }}</span>

            </div>
            <div class="text-container" >
            <span class="left-text">Accident Cost</span>
            <span class="right-text">{{ totalPropertyDamage }}</span>
            </div>
            <div class="text-container" >

              <span class="left-text">Accident Prone Section</span>
              <span class="right-text">{{ totalBlackspotCount }}</span>
              </div>
          </div>

        </div>
        <div nz-row style="display:flex;justify-content:space-around;padding-top: 15px;">
          <div nz-col nzSpan="18">
            <div style="display:flex;color:white;width:14vw;background-color: white;width: auto;padding: 15px;">
             <div>              <p style="text-align: center;color:black" ><b>Region Wise Accident Summary</b></p>
              <div nz-col  nzSpan="6" ><label>Region</label><br/>
                <nz-select style="width:150px"
                [(ngModel)]="regionIdd"
                (ngModelChange)="getRegionBasedSummaryData($event)"
                 >
                  <nz-option       *ngFor="let option of regionMasters"
                  [nzLabel]="option.regionName"
                  [nzValue]="option.regionId"
                  ></nz-option>

                </nz-select>
               </div>

              <p style="color:black;padding-left: 15px; color: #bc3333;">Fatal Injury{{deathCount}}<br>Fatal Crash</p>
              <p style="color:black;padding-left: 15px; color: #ff9900;">Seriously Injury {{seriousCount}}<br>Seriously Crash</p>
              <p style="color:black;padding-left: 15px; color: #1eaab2;">Slightly Injury{{slightCount}}<br>Slightly Crash</p>
              <p style="color:black;padding-left: 15px; color: #4caef4;">Accident Cost <br>Accident Prone Section </p></div>

             <div style="padding-left:15px;">

             </div><div id="mapid" style="width:650px"></div>
           </div>

          </div>
          <div style="background-color: white;padding:15px;width: 25%;" nzSpan="6"><h3><b>Trend Analysis</b></h3>
            <div id="chart">
          <div nz-col nzSpan="18">
            <div class="chart-container">
              <canvas  id="MyChart" >{{ chart }}</canvas>
          </div>
<!-- <img src="assets/Images/analysis.PNG">"/> -->
              <!-- <div class="card-deck">
                <div *ngFor="let item of data" class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.severityType }}</h5>
                    <p class="card-text">Count: {{ item.count }}</p>
                  </div>
                </div>
              </div> -->


            </div>
              <div style="padding-top:30px; margin-left: 9.5vw;">
              <app-button  [buttonText]="'Advanced Search'" (click)="AdvancedSearchPage()"></app-button>
            </div>
          </div>
        </div>
