<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzRequired]="true">Health Condition English</nz-form-label>
      <nz-form-control [nzErrorTip]="'Please input region name!'"
                       [nzValidateStatus]="validateForm.controls.SeverityType.invalid && validateForm.controls.SeverityType.touched ? 'error' : ''">
        <input nz-input formControlName="SeverityType" placeholder="SeverityType">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >የጤንነት ሁኒታ</nz-form-label>
      <nz-form-control                     >
        <input nz-input formControlName="SeverityTypeAm" placeholder="SeverityType">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label>Health Afan Oroma</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="SeverityTypeOr" placeholder="SeverityType">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >Health Condition Somalia</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="SeverityTypeSo" placeholder="SeverityType">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >Health Condition Tigiray</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="SeverityTypeTi" placeholder="SeverityType">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >Health Condition Afar</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="SeverityTypeAf" placeholder="SeverityType">
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" [disabled]="!validateForm.valid" >{{buttonLabel}}</button>
    <!-- <button nz-button nzType="primary" (click)="onSave()">
      {{ isEditMode ? 'Update' : 'Add' }}
    </button> -->
  </form>
  