<nz-layout>
  <nz-sider class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null">
  <div class="sidebar-logo">

      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      <h1>Radms</h1>

  </div>
    <ul nz-menu  nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="selectMenuItem('home')" style="color:white" nzIcon="home"><span nz-icon [nzType]="'home'"></span>
        <i class="anticon anticon-dashboard"></i>
        <a>Home</a>
      </li>
      <li nz-submenu nzTitle="Locational Referencing System" nzIcon="appstore">
        <ul>
          <li nz-menu-item (click)="showModal()">Region Master</li>
          <li nz-menu-item (click)="cityMaster()">City Master</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Sub City Master</li>

            </ul>
          </li>
          <li nz-menu-item>Zone Master</li>
          <li nz-menu-item>Woreda Master </li>
          <li nz-menu-item>Kebela Master</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Junction Type</li>
              <li nz-menu-item>Land Mark Type</li>
              <li nz-menu-item>Highway Master</li>
              <li nz-menu-item>Land Mark Type</li>
              <li nz-menu-item>Highway Owner Master</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-item  (click)="selectMenuItem('accident-data')"   style="color:white">
        <i class="anticon anticon-setting"></i>
        <a>Accident Data Collection</a>
      </li>
      <li nz-menu-item (click)="selectMenuItem('settings')" style="color:white">
        <i class="anticon anticon-setting"></i>
        <a>Report</a>
      </li>

      <li nz-menu-item (click)="selectMenuItem('settings')" style="color:white">
        <i class="anticon anticon-setting"></i>
        <a>System Adminstration</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding-left: 15px;height: auto;">
      <div style="display:flex;justify-content: space-between;padding-right:15px;">
        <h2><b>Hi, Welcome back!</b></h2>
        <!-- <div class="language">language
            <nz-select ngModel="lucy">
              <nz-option nzValue="jack" nzLabel="English"></nz-option>
              <nz-option nzValue="amahric" nzLabel="አማርኛ"></nz-option>
              <nz-option nzValue="tigrya" nzLabel="Tigryan"></nz-option>
              <nz-option nzValue="oromo" nzLabel="Afan Oromo"></nz-option>
            </nz-select>
        </div> -->

      </div>


<p>Your accident data record system dashboard</p>
<div class="container" style="display:flex;justify-content: space-between;">
  <nz-tabset>
    <nz-tab nzTitle="Home"></nz-tab>
    <nz-tab nzTitle="Profile"></nz-tab>
    <nz-tab nzTitle="Setting"></nz-tab>
    <nz-tab nzTitle="Help">help</nz-tab>

  </nz-tabset>

</div>

    </nz-header>

    <nz-content style="margin: 24px 16px 0;; background: #dde1e5">
      <div style="padding: 24px; min-height: 360px;">

        <router-outlet></router-outlet>

      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Created by Ant UED</nz-footer>
  </nz-layout>
</nz-layout>
