
<button class="add-region" nz-button nzType="primary" (click)="showModal('Add Seating type')">Add Seating type</button>
<nz-table #middleTable nzSize="middle" [nzData]="accidentCauses">
  <thead>
    <tr>
      <th>Id</th>
      <th>Vechile Master Names</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vechile of accidentCauses">
      <td>{{ vechile.seatingTypeId }}</td>
      <td>{{ vechile.seatingTypeName }}</td>
      <td>

        <a  (click)="onEditRow(vechile)">Edit</a> |
        <!-- <a  (click)="editRegion(region.regionId)">Edit</a> | -->
        <a  (click)="openDeleteConfirmation(vechile.seatingTypeId)">Delete</a>
      </td>
    </tr>
  </tbody>

</nz-table>
