<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzRequired]="true">LandmarkName English</nz-form-label>
      <nz-form-control [nzErrorTip]="'Please input region name!'"
                       [nzValidateStatus]="validateForm.controls.LandmarkName.invalid && validateForm.controls.LandmarkName.touched ? 'error' : ''">
        <input nz-input formControlName="LandmarkName" placeholder="LandmarkName">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >LandmarkName Name</nz-form-label>
      <nz-form-control                     >
        <input nz-input formControlName="LandmarkNameAm" placeholder="LandmarkName">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label>LandmarkName Oroma</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="LandmarkNameOr" placeholder="LandmarkName">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >LandmarkName  Somalia</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="LandmarkNameSo" placeholder="LandmarkName">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >LandmarkName Name Tigiray</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="LandmarkNameTi" placeholder="LandmarkName">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label >LandmarkName NameAfar</nz-form-label>
      <nz-form-control
  >
        <input nz-input formControlName="LandmarkNameAf" placeholder="LandmarkName">
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" [disabled]="!validateForm.valid" >{{buttonLabel}}</button>
    <!-- <button nz-button nzType="primary" (click)="onSave()">
      {{ isEditMode ? 'Update' : 'Add' }}
    </button> -->
  </form>
  z