
<button class="add-region" nz-button nzType="primary" (click)="showModal('Add Vechiles')">Add Vechile Owners</button>
<nz-table #middleTable nzSize="middle" [nzData]="vechilesRelations">
  <thead>
    <tr>
      <th>Id</th>
      <th>Vechile Relation Names</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vechile of vechilesRelations">
      <td>{{ vechile.vehicleRelationId }}</td>
      <td>{{ vechile.vehicleRelationName }}</td>
      <td>

        <button class="edit-button"    (click)="onEditRow(vechile)"><i class="icon-edit"></i>
          Edit</button> 
          <span class="button-spacing"></span>
        <!-- <a  (click)="editRegion(region.regionId)">Edit</a> | -->
        <a class="delete" (click)="openDeleteConfirmation(vechile.vehicleRelationId)"><i nz-icon nzType="delete" class="delete-icon"></i>
          <span class="delete-text">Delete</span></a>
      </td>
    </tr>
  </tbody>

</nz-table>
