<div style="background-color: white;padding:15px" nzSpan="6">
  <form (ngSubmit)="onSubmit()"  [formGroup]="myForm" >

  <h3><b>Accident Detail</b></h3>
  <div nz-row style="display: flex;">
    <div nz-col  nzSpan="6" >
      <div style="display:flex;"> <label>Lat</label><input  formControlName="lat" nz-input placeholder="Basic usage"   /></div>


    </div>
    <div nz-col  nzSpan="6" >
      <div style="display:flex;"> <label>Long</label><input  formControlName="long" nz-input placeholder="Basic usage"   /></div>

    </div>
  </div>


  <div nz-row style="display: flex;">
    <div nz-col  nzSpan="6" ><label>Date</label><br/>
    <nz-date-picker formControlName="dateAndTime" [(ngModel)]="dateAndTime" [nzRenderExtraFooter]="plainFooter" nzShowTime></nz-date-picker>
</div>
<div nz-col  nzSpan="6" ><label>Investigator Name</label><br/>
  <input nz-input placeholder="Invistigator name" formControlName="piname" [(ngModel)]="piname" />
</div>
     <div nz-col  nzSpan="6" ><label>Police Record Number</label><br/>
      <input formControlName="policeRecordNumber" nz-input placeholder="Basic usage" [(ngModel)]="policeRecordNumber" />
  </div>
    <!-- (ngModelChange)=
  "OnPoliceStationSelected()" -->
<div nz-col  nzSpan="6" ><label>Police Station</label><br/>
  <nz-select formControlName="ps"

  [(ngModel)]="ps"   >
  <ng-container  *ngFor="let option of policeStations">
    <nz-option
    [nzLabel]="option.psname"
    [nzValue]="option.psid"
    ></nz-option>
  </ng-container>


  </nz-select>
 </div>
  </div>



  <div nz-row style="display: flex;">
    <div nz-col  nzSpan="6" ><label>Region</label><br/>
      <nz-select formControlName="region"
      [(ngModel)]="region"
       >
        <nz-option       *ngFor="let option of regionMasters"
        [nzLabel]="option.regionName"
        [nzValue]="option.regionId"
        ></nz-option>

      </nz-select>
     </div>
    <div nz-col  nzSpan="6" ><label>Zone</label><br/>
      <nz-select [(ngModel)]="zone" formControlName="zone">
        <nz-option       *ngFor="let option of zoneMasters"
        [nzLabel]="option.zoneName"
        [nzValue]="option.zoneId"
        ></nz-option>
      </nz-select></div>
    <div nz-col nzSpan="6" >Woreda<label></label><br/>
      <nz-select [(ngModel)]="woreda" formControlName="woreda">
        <nz-option       *ngFor="let option of woredaMasters"
        [nzLabel]="option.woredaName"
        [nzValue]="option.woredaId"
        ></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6" >City<label></label><br/>
      <nz-select [(ngModel)]="city" formControlName="city">
        <nz-option       *ngFor="let option of cityMasters"
        [nzLabel]="option.cityName"
        [nzValue]="option.cityId"
        ></nz-option>
      </nz-select>
    </div>
  </div>














  <div nz-row style="display: flex;">
    <div nz-col  nzSpan="6" ><label>Subcity</label><br/>
      <nz-select formControlName="subcity"
      [(ngModel)]="subcity"    >
        <nz-option       *ngFor="let option of subCityList"
        [nzLabel]="option.subCityName"
        [nzValue]="option.subCityId"
        ></nz-option>

      </nz-select>
     </div>

    <div nz-col  nzSpan="6" ><label>Kebele Name</label><br/>
      <input formControlName="kebeleName" nz-input placeholder="Basic usage" [(ngModel)]="kebeleName" />
  </div>



  <div nz-col  nzSpan="6" ><label>Accident Type</label><br/>
    <nz-select formControlName="accidentType"
    [(ngModel)]="accidentType">
      <nz-option       *ngFor="let option of accidentTypes"
      [nzLabel]="option.accidentType"
      [nzValue]="option.accidentTypeId"
      ></nz-option>

    </nz-select>
   </div>
   <div nz-col  nzSpan="6" ><label>Weather Condition</label><br/>
    <nz-select [(ngModel)]="weatherCond" formControlName="weatherCond">
      <nz-option       *ngFor="let option of weatherConditions"
      [nzLabel]="option.weatherCondName"
      [nzValue]="option.weatherCondId"
      ></nz-option>
    </nz-select></div>
  </div>







<div nz-row style="display: flex;">


  <div nz-col nzSpan="6" >Accident Serverity<label></label><br/>
    <nz-select [(ngModel)]="severity" formControlName="severity">
      <nz-option       *ngFor="let option of accidentSeverity"
      [nzLabel]="option.severityType"
      [nzValue]="option.severityId"
      ></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="6" >Hightway Name<label></label><br/>
    <nz-select [(ngModel)]="hidNavigation" formControlName="hidNavigation">
      <nz-option       *ngFor="let option of highwayNames"
      [nzLabel]="option.hname"
      [nzValue]="option.hid"
      ></nz-option>
    </nz-select>
  </div>

  <div nz-col nzSpan="6" >Highway type<label></label><br/>
    <nz-select [(ngModel)]="highwayType" formControlName="highwayType">
      <nz-option       *ngFor="let option of highwayTypes"
      [nzLabel]="option.htypeName"
      [nzValue]="option.htypeId"
      ></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="6" >Payment type<label></label><br/>
    <nz-select [(ngModel)]="pavementType" formControlName="pavementType">
      <nz-option       *ngFor="let option of pavementTypes"
      [nzLabel]="option.pavementName"
      [nzValue]="option.pavementTypeId"
      ></nz-option>
    </nz-select>
  </div>


  <div nz-col nzSpan="6" >Collision type<label></label><br/>
    <nz-select [(ngModel)]="collisionType" formControlName="collisionType">
      <nz-option       *ngFor="let option of collisionTypes"
      [nzLabel]="option.collisionTypeName"
      [nzValue]="option.collisionTypeId"
      ></nz-option>
    </nz-select>
  </div>


  <div nz-col nzSpan="6" >Impact type<label></label><br/>
    <nz-select [(ngModel)]="impactType" formControlName="impactType">
      <nz-option       *ngFor="let option of impactTypes"
      [nzLabel]="option.impactTypeName"
      [nzValue]="option.impactTypeId"
      ></nz-option>
    </nz-select>
  </div>
</div>


<div nz-row style="display: flex;">
  <div nz-col nzSpan="6" style="width:33%;"><label>Road Surface Condition</label><br/>
    <nz-select [(ngModel)]="roadSurface" formControlName="roadSurface">
      <nz-option       *ngFor="let option of roadSurfaces"
      [nzLabel]="option.roadSurfaceName"
      [nzValue]="option.roadSurfaceId"
      ></nz-option>
    </nz-select> </div>

  <div nz-col nzSpan="6"><label>Land Mark type </label><br/>
    <nz-select [(ngModel)]="landmarkType" formControlName="landmarkType">
      <nz-option       *ngFor="let option of landMarkTypes"
      [nzLabel]="option.landmarkName"
      [nzValue]="option.landmarkTypeId"
      ></nz-option>
    </nz-select></div>

    <div nz-col nzSpan="6"><label>Carriage way type </label><br/>
      <nz-select [(ngModel)]="roadCarriageway" formControlName="roadCarriageway">
        <nz-option       *ngFor="let option of roadCarriagewayTypes"
        [nzLabel]="option.roadCarriagewayName"
        [nzValue]="option.roadCarriagewayId"
        ></nz-option>
      </nz-select></div>


      <div nz-col nzSpan="6"><label>User type </label><br/>
        <nz-select [(ngModel)]="user" formControlName="user">
          <nz-option       *ngFor="let option of userMasters"
          [nzLabel]="option.userName"
          [nzValue]="option.userId"
          ></nz-option>
        </nz-select></div>
</div>





<div nz-row style="display: flex;">
  <div nz-col nzSpan="6" style="width:33%;"><label>Junction Type</label><br/>
    <nz-select [(ngModel)]="junctionType" formControlName="junctionType">
      <nz-option       *ngFor="let option of junctionTypes"
      [nzLabel]="option.junctionTypeName"
      [nzValue]="option.junctionTypeId"
      ></nz-option>
    </nz-select> </div>
  <div nz-col nzSpan="6" style="width:33%;"><label>Road speed limit </label><br/>
    <nz-select [(ngModel)]="roadspeed" formControlName="roadspeed">
      <nz-option       *ngFor="let option of roadspeeds"
      [nzLabel]="option.speedLimitName"
      [nzValue]="option.speedLimitId"
      ></nz-option>
    </nz-select></div>
  <div nz-col nzSpan="6"><label>Light Condition </label><br/>
    <nz-select [(ngModel)]="lightCondtion" formControlName="lightCondtion">
      <nz-option       *ngFor="let option of lightConditions"
      [nzLabel]="option.lightConditionName"
      [nzValue]="option.lightConditionId"
      ></nz-option>
    </nz-select></div>

    <div nz-col nzSpan="6"><label>Air condition </label><br/>
      <nz-select [(ngModel)]="airCondition" formControlName="airCondition">
        <nz-option       *ngFor="let option of airConditions"
        [nzLabel]="option.airConditionName"
        [nzValue]="option.airConditionId"
        ></nz-option>
      </nz-select></div>
      <div nz-col nzSpan="6"><label>Terrian type </label><br/>
        <nz-select [(ngModel)]="terrianType" formControlName="terrianType">
          <nz-option       *ngFor="let option of terrianTypes"
          [nzLabel]="option.terrianName"
          [nzValue]="option.terrianTypeId"
          ></nz-option>
        </nz-select></div>



</div>






<div nz-row style="display: flex;">
  <div nz-col nzSpan="6" style="width:33%;"><label>Cause of accident</label><br/>
    <nz-select [(ngModel)]="causeofAccident" formControlName="causeofAccident">
      <nz-option       *ngFor="let option of accidentCauses"
      [nzLabel]="option.accidentCauseName"
      [nzValue]="option.accidentCauseId"
      ></nz-option>
    </nz-select> </div>
    <div nz-col  nzSpan="6" ><label>Location local name</label><br/>
      <input formControlName="accidentLocalName" nz-input placeholder="Invistigator name" [(ngModel)]="accidentLocalName" />
    </div>
    <div nz-col  nzSpan="6" ><label>Property Damage</label><br/>
      <input formControlName="propertyDamage" nz-input placeholder="property damage " [(ngModel)]="propertyDamage" />
    </div>

    <div nz-col  nzSpan="6" ><label>Number of vechile</label><br/>
      <input formControlName="numberVechile" nz-input placeholder="number of vechcile name"  [(ngModel)]="numberVechile"/>
    </div>
</div>










<div nz-row style="display: flex;">
  <div nz-col  nzSpan="6" ><label>Number of victim</label><br/>
    <input formControlName="numberVictim" nz-input placeholder="Number of victim " [(ngModel)]="numberVictim" />
  </div>

</div>






<div nz-row style="display: flex;justify-content: space-between;">
  <div nz-col nzSpan="6"></div>
  <div nz-col nzSpan="6"> </div>
  <div nz-col nzSpan="6"> </div>
  <div nz-col nzSpan="6"  style="display: flex;">
    <app-button (click)="WelcomePage()" [buttonText]="'Back'" style="padding-right:15px;"></app-button>
  <app-button (click)="RoadInvolvedPage()" [buttonText]="'Next'" type="submit" [isDisabled]="!isFormValid()"></app-button>
  </div>
</div>
<!-- (click)="sucessNotification('Sucess')" -->
</form>

</div>
