
<button class="add-region" style="margin-left: 71vw;"nz-button nzType="primary" (click)="showModal('Add Region')">Add Region</button>
<nz-table #middleTable nzSize="middle" [nzData]="regions">
  <thead>
    <tr>
      <th>Id</th>
      <th>Region Names</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let region of regions">
      <td>{{ region.regionId }}</td>
      <td>{{ region.regionName }}</td>
      <td>

        <a  (click)="onEditRow(region)">Edit</a> |
        <!-- <a  (click)="editRegion(region.regionId)">Edit</a> | -->
        <a  (click)="openDeleteConfirmation(region.regionId)">Delete</a>
      </td>
    </tr>
  </tbody>

</nz-table>
