
<button class="add-region" nz-button nzType="primary" (click)="showModal('Add Vechiles')">Add Land  mark</button>
<nz-table #middleTable nzSize="middle" [nzData]="accidentCauses">
  <thead>
    <tr>
      <th>Id</th>
      <th>Vechile Master Names</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vechile of accidentCauses">
      <td>{{ vechile.landmarkTypeId }}</td>
      <td>{{ vechile.landmarkName }}</td>
      <td>

        <button class="edit-button"   (click)="onEditRow(vechile)"><i class="icon-edit"></i>
          Edit</button> 
          <span class="button-spacing"></span>
        <!-- <a  (click)="editRegion(region.regionId)">Edit</a> | -->
        <a class="delete"  (click)="openDeleteConfirmation(vechile.landmarkTypeId)"><i nz-icon nzType="delete" class="delete-icon"></i>
          <span class="delete-text">Delete</span></a>
      </td>
    </tr>
  </tbody>

</nz-table>
